.header{
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: #343A40;
    color: white;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.header > div {
    display: flex;
    align-items: center;
}


.logo{
    margin-left: 43px;
    margin-top: 12px;
    margin-bottom: 12px;
    height: 32px;
    width: 32px;
}

#DDArrow{
    width:10px;
}


h2{
    margin: 16px;
    font-weight: 700;
    font-size: 16px;
}


#maintain
{
    margin-left: 23px;
    margin-top: 18px;
    margin-bottom: 18px;
}

.maintains{
    background-color: rgba(114, 114, 114, 0.2);
    height: 40px;
    width: 135px;
    border-radius: 40px;
    display: flex;
    align-items: center
}

.payments{
    margin-left: 32px;
    margin-top: 18px;
    margin-bottom: 18px;
}


.reports{
    margin-left: 32px;
    margin-top: 18px;
    margin-bottom: 18px;
}

h1{
font-size: 14px;
margin-left: 32px;
margin-top: 18px;
margin-bottom: 18px;
}

.johns{
    margin-right: 30px;
}


.johnsnow{
    width: 32px;
    height: 32px;
    border: 0px solid black;
    border-radius: 44px;
    background-color: #28A745;
    margin: 8px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Jn-Sn{
    margin-left: 12px;
    margin-bottom: 0px;
    margin-top: 12px;
    font-style: roboto;
    font-weight: 500;
    font-size: 12px;
    color: #FFFFFF;
}

.Mp-Off{
    margin-top: 0px;
    margin-left: 12px;
    font-weight: 400;
    font-size: 11px;
    opacity: 0.5;

}
.lh{
    line-height: 16px;
}


h3{
position: absolute;
left: 2%;
right: 91.02%;
top: 11.5%;
bottom: 93.63%;

font-family: 'Roboto';
font-style: normal;
font-weight: 800;
font-size: 32px;
line-height: 40px;
/* identical to box height, or 125% */


/* Dark Green */

color: #024102;

}

h4{
    position: absolute;
left: 2%;
right: 82.03%;
top: 20.96%;
bottom: 83.44%;

font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 32px;
width: 250px;
/* identical to box height, or 133% */


/* Dark Gray */

color: #343A40;

}

.d1{
    position: absolute;
left: 4.38%;
right: 87.66%;
top: 47.67%;
bottom: 59.24%;
width: 100px;

font-family: 'Roboto';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 32px;
/* identical to box height, or 160% */

text-align: center;

/* Dark Gray */

color: #343A40;
}


.grave{
    position: absolute;
left: 7.11%;
right: 90.39%;
top: 41.75%;
bottom: 68.15%;

}


.d2{
    display: flex;
    flex-direction: column;
    position: absolute;
left: 19.14%;
right: 69.14%;
top: 47.67%;
bottom: 59.24%;

font-family: 'Roboto';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 32px;
/* identical to box height, or 160% */

text-align: center;

/* Dark Gray */

color: #343A40;

}


.bill{
    position: absolute;
left: 23.75%;
right: 73.75%;
top: 42.25%;
bottom: 68.15%;
}


.d3{
    position: absolute;
left: 36.33%;
right: 52.89%;
top: 47.67%;
bottom: 59.24%;

font-family: 'Roboto';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 32px;
/* identical to box height, or 160% */

text-align: center;

/* Dark Gray */

color: #343A40;

}


.asd {
    position: absolute;
left: 40.47%;
right: 57.03%;
top: 42.25%;
bottom: 68.15%;

}


.d4{
    position: absolute;
left: 54.06%;
right: 37.27%;
top: 47.67%;
bottom: 59.24%;
width: 100px;

font-family: 'Roboto';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 32px;
/* identical to box height, or 160% */

text-align: center;

/* Dark Gray */

color: #343A40;


}

.archive {
    position: absolute;
left: 57.11%;
right: 40.39%;
top: 42.25%;
bottom: 68.15%;

}


.d5{
    position: absolute;
left: 69.69%;
right: 19.69%;
top: 47.67%;
bottom: 59.24%;
width: 120px;

font-family: 'Roboto';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 32px;
/* identical to box height, or 160% */

text-align: center;

/* Dark Gray */

color: #343A40;

}

.home {
    position: absolute;
left: 73.50%;
right: 26.50%;
top: 42.25%;
bottom: 47.92%;

}

.d6{
    position: absolute;
left: 86.64%;
right: 3.2%;
top: 47.67%;
bottom: 59.24%;

font-family: 'Roboto';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 32px;
/* identical to box height, or 160% */

text-align: center;

/* Dark Gray */

color: #343A40;

}

.sidebar {
    position: absolute;
left: 90.47%;
right: 7.03%;
top: 42.25%;
bottom: 47.92%;
}







.a1{
    width: 40px;
height: 16px;
background-color: #024102;
font-family: 'Roboto';
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 16px;
/* identical to box height, or 114% */


/* white */

color: #FFFFFF;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
}

.mb1 {
    display: flex;
flex-direction: row;
align-items: flex-start;
padding: 12px 24px;
gap: 4px;
color: #FFFFFF;

position: absolute;
left: 4.92%;
right: 88.2%;
top: 53.59%;
bottom: 49.04%;

/* Bright Green */

background: #28A745;
border-radius: 54px;
border:4.5px solid #28A745;
}



.mb2{
    display: flex;
flex-direction: row;
align-items: flex-start;
padding: 12px 24px;
gap: 4px;
color: #FFFFFF;

position: absolute;
left: 21.56%;
right: 71.56%;
top: 53.59%;
bottom: 49.04%;

/* Bright Green */

background: #28A745;
border-radius: 54px;
border:4.5px solid #28A745;
}

.mb3{
    display: flex;
flex-direction: row;
align-items: flex-start;
padding: 12px 24px;
gap: 4px;
color: #FFFFFF;

position: absolute;
left: 38.28%;
right: 54.84%;
top: 53.59%;
bottom: 49.04%;

/* Bright Green */

background: #28A745;
border-radius: 54px;
border:4.5px solid #28A745;
}


.mb4{
    display: flex;
flex-direction: row;
align-items: flex-start;
padding: 12px 24px;
gap: 4px;
color: #FFFFFF;

position: absolute;
left: 54.92%;
right: 38.2%;
top: 53.59%;
bottom: 49.04%;

/* Bright Green */

background: #28A745;
border-radius: 54px;
border:4.5px solid #28A745;
}

.mb5{
    display: flex;
flex-direction: row;
align-items: flex-start;
padding: 12px 24px;
gap: 4px;

position: absolute;
left: 71.56%;
right: 21.56%;
top: 53.59%;
bottom: 49.04%;
color: #FFFFFF;

/* Bright Green */

background: #28A745;
border-radius: 54px;
border:4.5px solid #28A745;
}



.mb6{
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 12px 24px;
gap: 4px;

position: absolute;
left: 88.28%;
right: 4.84%;
top: 53.59%;
bottom: 49.04%;
color: #FFFFFF;

background: #28A745;
border-radius: 54px;
border:4.5px solid #28A745;
}




.a3{
position: absolute;
left: 2%;
right: 83.52%;
top: 57.97%;
bottom: 29.94%;
width: 100px;
font-family: 'Roboto';
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 32px;
color: #343A40;
}

.x1{
    position: absolute;
left: 4.88%;
right: 88.28%;
top: 81.75%;
bottom: 12.74%;
width: 150px;

font-family: 'Roboto';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */


/* Dark Gray */

color: #343A40;
}


.y1{
    position: absolute;
left: 4.88%;
right: 86.09%;
top: 84.54%;
bottom: 5.1%;
width: 150px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
/* or 143% */


/* Dark Gray */

color: #343A40;

}


.x2{
    position: absolute;
left: 27.5%;
right: 59.06%;
top: 81.75%;
bottom: 12.74%;
width: 250px;

font-family: 'Roboto';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */


/* Dark Gray */

color: #343A40;
}

.y2{
    position: absolute;
left: 27.5%;
right: 53.83%;
top: 84.54%;
bottom: 8.28%;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
/* identical to box height, or 143% */


/* Dark Gray */

color: #343A40;
}

.x3{
    position: absolute;
left: 53.12%;
right: 33.12%;
top: 81.75%;
bottom: 12.74%;

font-family: 'Roboto';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */


/* Dark Gray */

color: #343A40;

}


.y3{
    position: absolute;
left: 53.12%;
right: 32.81%;
top: 84.85%;
bottom: 4.78%;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
/* or 143% */


/* Dark Gray */

color: #343A40;

}



.x4{
position: absolute;
left: 78.75%;
right: 14.3%;
top: 81.75%;
bottom: 12.74%;
width: 250 px;

font-family: 'Roboto';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */


/* Dark Gray */

color: #343A40;

}

.y4{
    position: absolute;
left: 78.75%;
right: 13.75%;
top: 88.85%;
bottom: 7.96%;
width: 256px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
/* identical to box height, or 143% */


/* Dark Gray */

color: #343A40;

}


.ic {
    position: absolute;
left: 4.88%;
right: 91.56%;
top: 76.75%;
bottom: 19.11%;
}

.bill2 {
    position: absolute;
left: 27.5%;
right: 70.94%;
top: 76.75%;
bottom: 19.11%;

}


.ic2 {
    position: absolute;
left: 53.12%;
right: 45.31%;
top: 76.75%;
bottom: 19.11%;

}

.archive2 {
    position: absolute;
left: 78.75%;
right: 19.69%;
top: 76.75%;
bottom: 19.11%;
}