body{
    background-color: #F5F5F5;
    width: 100%;
    margin-top: 0;
    margin-left: 0;
}

header{
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: #343A40;
    color: white;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

header > div {
    display: flex;
    align-items: center;
}

.logo{
    margin-left: 43px;
    margin-top: 12px;
    margin-bottom: 12px;
    height: 32px;
    width: 32px;
}

#downarrow{
    width:10px;
}

h2{
    margin: 16px;
    font-weight: 700;
    font-size: 16px;
}

.maintain{
    margin-left: 35px;
    margin-top: 18px;
    margin-bottom: 18px;
}

.payment{
    margin-left: 25px;
    margin-top: 18px;
    margin-bottom: 18px;
}

.report{
    margin-left:3px;
    margin-top: 18px;
    margin-bottom: 18px;
}

.reports{
    background-color: rgba(144, 144, 144, 0.2);
    height: 40px;
    width: 100px;
    border-radius: 40px;
    margin-left: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

h1{
font-size: 14px;
margin-left: 8px;
margin-top: 18px;
margin-bottom: 18px;
}

.search{
    margin-top: 18px;
    margin-bottom: 18px;
    margin-right: 16px;
}

.setup{
    margin-top: 18px;
    margin-bottom: 18px;
}

.setups{
    background-color: rgba(144, 144, 144, 0.2);
    border-radius: 44px;
    height: 40px;
    width: 40px;
    margin-right: 16px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.help{
    margin-top: 18px;
    margin-bottom: 18px;
    margin-right: 24px;
}

.topright{
    margin-right: 30px;
}


.jsprofile{
    width: 32px;
    height: 32px;
    border: 0px solid black;
    border-radius: 44px;
    background-color: #28A745;
    margin: 8px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.johnsnow{
    margin-left: 12px;
    margin-bottom: 0px;
    margin-top: 12px;
    font-style: roboto;
    font-weight: 500;
    font-size: 12px;
    color: #FFFFFF;
}

.designation{
    margin-top: 0px;
    margin-left: 12px;
    font-weight: 400;
    font-size: 11px;
    opacity: 0.5;

}
.toprightdiv{
    line-height: 16px;
    display: flex;
    flex-direction: column;
}


h3{
margin-left: 2.38%;
right: 91.02%;
top: 9.5%;
bottom: 93.63%;
font-family: 'Roboto';
font-style: normal;
font-weight: 800;
font-size: 32px;
line-height: 40px;
color: #024102;

}

h4{
margin-left: 2.38%;
right: 82.03%;
top: 20.96%;
bottom: 83.44%;

font-family: 'Roboto';
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 32px;
width: 250px;
color: #343A40;
}

.a1{
    width: 40px;
height: 16px;
background-color: #024102;
font-family: 'Roboto';
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 16px;
color: #FFFFFF;
flex: none;
order: 0;
flex-grow: 0;
}

.mb {
padding: 12px 24px;
color: #FFFFFF;

background: #28A745;
border-radius: 54px;
border:4.5px solid #28A745;
}

#container-one{
    height: auto;
    border-radius: 8px;
    align-items: center;
    border: 0px solid;
    background-color:  #FFFFFF;
    display: inline-flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
}


.one,
.two {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
}

.one {
    border-left: 1px solid grey;
    margin-top: 23px;
    margin-bottom: 23px;
    padding-right: 10px;
    padding-left: 45px;
}
.grave {
    /* width: 26.67px; */
   align-items: center;
}



#main{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 43px;
    margin-right: 43px;
    justify-content: space-between;
}

.section-two {
    background-color: #FFFFFF;
    border: 0px solid;
    border-radius: 8px;
    height: 164px;
    width: 250px;
    gap: 15px;
}

.efg{
    font-size: 16px;
    margin-top: 16px;
    margin-left: 24px;
}
.ooo,
.yes{
    margin-left: 24px;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 400;
}
.img-one{
    height: 20px;
    width: 20px;
    margin-top: 24px;
    margin-right: 252px;
    margin-left: 24px;
}













